<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.guru.utilities.Reporting" />
		<listener class-name="com.guru.utilities.ExtentReporter" />
	</listeners>
	<test name="TC_loginpage_001">
		<parameter name="browsername" value="FireFox" />
		<classes>
			 <class name="com.guru.testcases.TC_loginpage_001" /> 
			<!--<class name="com.guru.testcases.TC_loginpage_002" />-->
			<!-- <class name="com.guru.testcases.TC_NewCustomer_001" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
